# Remapped from CoFHCore's CoFH_at.cfg in order to be compatible with Forge AT syntax.
# This config is being included conditionally by the CoFHCoreAccessTransformer:
# only when CoFHCore is present and ASM config disableCoFHAccessTransformer is enabled

# NetherOres
public net.minecraft.entity.monster.EntityPigZombie becomeAngryAt(Lnet/minecraft/entity/Entity;)V
public net.minecraft.entity.monster.EntitySilverfish allySummonCooldown
public-f net.minecraft.init.Blocks quartz_ore

# MineFactory Reloaded
protected net.minecraft.util.WeightedRandomFishable * # need it all
public net.minecraft.entity.EntityList classToIDMapping
public net.minecraft.entity.EntityList stringToIDMapping
public net.minecraft.entity.monster.EntitySlime setSlimeSize(I)V
public net.minecraft.entity.monster.EntityZombie startConversion(I)V
public net.minecraft.entity.EntityLivingBase recentlyHit
public-f net.minecraft.init.Blocks ice
public-f net.minecraft.init.Blocks glass_pane
public-f net.minecraft.init.Items milk_bucket
protected net.minecraft.block.Block unlocalizedName
public net.minecraft.server.management.PlayerManager getOrCreateChunkWatcher(IIZ)Lnet/minecraft/server/management/PlayerManager$PlayerInstance;
public net.minecraft.server.management.PlayerManager$PlayerInstance
public net.minecraft.server.management.PlayerManager$PlayerInstance playersWatchingChunk
public net.minecraft.entity.EntityLiving experienceValue
public net.minecraft.entity.EntityLiving equipmentDropChances

# ThermalFoundation
public net.minecraft.entity.Entity inWater

# ThermalDynamics
public net.minecraft.client.renderer.Tessellator rawBufferIndex
public net.minecraft.client.renderer.Tessellator xOffset
public net.minecraft.client.renderer.Tessellator yOffset
public net.minecraft.client.renderer.Tessellator zOffset
public net.minecraft.client.renderer.Tessellator vertexCount
public net.minecraft.client.renderer.Tessellator rawBuffer

# Thermal Expansion
public net.minecraft.entity.Entity invulnerable
public net.minecraft.entity.Entity isImmuneToFire
public net.minecraft.entity.player.EntityPlayer itemInUse
public net.minecraft.server.management.ItemInWorldManager durabilityRemainingOnBlock
protected net.minecraft.client.particle.EntityFireworkSparkFX * # everything

# PC Core
public net.minecraft.client.gui.GuiScreen fontRendererObj
public net.minecraft.client.gui.inventory.GuiContainer guiLeft
public net.minecraft.client.gui.inventory.GuiContainer guiTop
public net.minecraft.world.WorldServer allPlayersSleeping

# CoFH Core
protected net.minecraft.inventory.Container * # senseless to have private stuff here
protected net.minecraft.client.gui.inventory.GuiContainer * # senseless to have private stuff here
protected net.minecraft.client.gui.FontRenderer *() # all of it
protected net.minecraft.client.gui.FontRenderer * # all of it
public net.minecraft.entity.projectile.EntityFishHook * # (nearly) literally everything is private

protected net.minecraft.entity.player.EntityPlayer itemInUseCount
public net.minecraft.item.ItemPickaxe field_150915_c # blocksEffectiveAgainst
public net.minecraft.item.ItemSpade field_150916_c # blocksEffectiveAgainst
public net.minecraft.item.ItemAxe field_150917_c # blocksEffectiveAgainst
public net.minecraft.util.RegistrySimple registryObjects
public-f net.minecraft.util.RegistryNamespaced underlyingIntegerMap
public net.minecraft.world.World collidingBoundingBoxes

# WorldProxy
public-f net.minecraft.world.World *() # Doesn't matter what it is, we need it public
public-f net.minecraft.world.WorldServer *() # Doesn't matter what it is, we need it public