# Remapped from CoFHCore's CoFH_at.cfg in order to be compatible with Forge AT syntax.
# CoFHCore took care of mcp -> srg remapping, but forge AT is dumb so we have a copy for every mcp field.
# This config is being included conditionally by the CoFHCoreAccessTransformer:
# only when CoFHCore is present and ASM config disableCoFHAccessTransformer is enabled

# NetherOres
public net.minecraft.entity.monster.EntityPigZombie becomeAngryAt(Lnet/minecraft/entity/Entity;)V
public net.minecraft.entity.monster.EntityPigZombie func_70835_c(Lnet/minecraft/entity/Entity;)V

public net.minecraft.entity.monster.EntitySilverfish allySummonCooldown
public net.minecraft.entity.monster.EntitySilverfish field_70843_d

public-f net.minecraft.init.Blocks quartz_ore
public-f net.minecraft.init.Blocks field_150449_bY

# MineFactory Reloaded
protected net.minecraft.util.WeightedRandomFishable *

public net.minecraft.entity.EntityList classToIDMapping
public net.minecraft.entity.EntityList field_75624_e

public net.minecraft.entity.EntityList stringToIDMapping
public net.minecraft.entity.EntityList field_75622_f

public net.minecraft.entity.monster.EntitySlime setSlimeSize(I)V
public net.minecraft.entity.monster.EntitySlime func_70799_a(I)V

public net.minecraft.entity.monster.EntityZombie startConversion(I)V
public net.minecraft.entity.monster.EntityZombie func_82228_a(I)V

public net.minecraft.entity.EntityLivingBase recentlyHit
public net.minecraft.entity.EntityLivingBase field_70718_bc

public-f net.minecraft.init.Blocks ice
public-f net.minecraft.init.Blocks field_150432_aD

public-f net.minecraft.init.Blocks glass_pane
public-f net.minecraft.init.Blocks field_150410_aZ

public-f net.minecraft.init.Items milk_bucket
public-f net.minecraft.init.Items field_151117_aB

protected net.minecraft.block.Block unlocalizedName
protected net.minecraft.block.Block field_149770_b

public net.minecraft.server.management.PlayerManager getOrCreateChunkWatcher(IIZ)Lnet/minecraft/server/management/PlayerManager$PlayerInstance;
public net.minecraft.server.management.PlayerManager func_72690_a(IIZ)Lnet/minecraft/server/management/PlayerManager$PlayerInstance;

public net.minecraft.server.management.PlayerManager$PlayerInstance
public net.minecraft.server.management.PlayerManager$PlayerInstance playersWatchingChunk
public net.minecraft.server.management.PlayerManager$PlayerInstance field_73263_b

public net.minecraft.entity.EntityLiving experienceValue
public net.minecraft.entity.EntityLiving field_70728_aV

public net.minecraft.entity.EntityLiving equipmentDropChances
public net.minecraft.entity.EntityLiving field_82174_bp

# ThermalFoundation
public net.minecraft.entity.Entity inWater
public net.minecraft.entity.Entity field_70171_ac

# ThermalDynamics
public net.minecraft.client.renderer.Tessellator rawBufferIndex
public net.minecraft.client.renderer.Tessellator field_147569_p

public net.minecraft.client.renderer.Tessellator xOffset
public net.minecraft.client.renderer.Tessellator field_78408_v

public net.minecraft.client.renderer.Tessellator yOffset
public net.minecraft.client.renderer.Tessellator field_78407_w

public net.minecraft.client.renderer.Tessellator zOffset
public net.minecraft.client.renderer.Tessellator field_78417_x

public net.minecraft.client.renderer.Tessellator rawBuffer
public net.minecraft.client.renderer.Tessellator field_78405_h

public net.minecraft.client.renderer.Tessellator vertexCount
public net.minecraft.client.renderer.Tessellator field_78406_i

# Thermal Expansion
public net.minecraft.entity.Entity invulnerable
public net.minecraft.entity.Entity field_83001_bt

public net.minecraft.entity.Entity isImmuneToFire
public net.minecraft.entity.Entity field_70178_ae

public net.minecraft.entity.player.EntityPlayer itemInUse
public net.minecraft.entity.player.EntityPlayer field_71074_e

public net.minecraft.server.management.ItemInWorldManager durabilityRemainingOnBlock
public net.minecraft.server.management.ItemInWorldManager field_73094_o

protected net.minecraft.client.particle.EntityFireworkSparkFX *

# PC Core
public net.minecraft.client.gui.GuiScreen fontRendererObj
public net.minecraft.client.gui.GuiScreen field_146289_q

public net.minecraft.client.gui.inventory.GuiContainer guiLeft
public net.minecraft.client.gui.inventory.GuiContainer field_147003_i

public net.minecraft.client.gui.inventory.GuiContainer guiTop
public net.minecraft.client.gui.inventory.GuiContainer field_147009_r

public net.minecraft.world.WorldServer allPlayersSleeping
public net.minecraft.world.WorldServer field_73068_P

# CoFH Core
protected net.minecraft.inventory.Container *
protected net.minecraft.client.gui.inventory.GuiContainer *
protected net.minecraft.client.gui.FontRenderer *()
protected net.minecraft.client.gui.FontRenderer *
public net.minecraft.entity.projectile.EntityFishHook *

protected net.minecraft.entity.player.EntityPlayer itemInUseCount
protected net.minecraft.entity.player.EntityPlayer field_71072_f

public net.minecraft.item.ItemPickaxe field_150915_c # blocksEffectiveAgainst
public net.minecraft.item.ItemSpade field_150916_c # blocksEffectiveAgainst
public net.minecraft.item.ItemAxe field_150917_c # blocksEffectiveAgainst

public net.minecraft.util.RegistrySimple registryObjects
public net.minecraft.util.RegistrySimple field_82596_a

public-f net.minecraft.util.RegistryNamespaced underlyingIntegerMap
public-f net.minecraft.util.RegistryNamespaced field_148759_a

public net.minecraft.world.World collidingBoundingBoxes
public net.minecraft.world.World field_72998_d

# WorldProxy
public-f net.minecraft.world.World *()
public-f net.minecraft.world.WorldServer *()
